# This file specifies which stuff will be ignored when we create a new docker image.

# Folders can be written as plain names without any "/" or similar addition. 
node-modules
public


# Or we can specify a general rule for ignoring certain file types as seen below.
# This will ignore all files within our app that end on ".md".
* .md