.App {
	background-color: #a2a2a2;
	text-align: center;
}

.App-header {
	background-color: #2b412b;
	font-size: calc(10px + 2vmin);
	color: #23d32187;
}

#headline {
	width: 60%;
	background-color: cornflowerblue;
	border: none;
	border-radius: 2.5rem;
	padding: 2rem;
	margin: auto;
}

body {
	background-color: #a2a2a2;
	margin: 0;
}

input {
  background-color: #a8b5a9;
  font-size: large;
}

.nr {
  width: 4em;
  text-align: center;
}

#headings {
  display: grid;
  grid-auto-flow: column;
	padding: 1rem;
	margin: 1rem;
  background-color: rgb(89, 89, 170);
  color: black;
	text-align: center;
	grid-auto-columns: 12%;
  border: none;
	border-radius: 1.5rem;
}

.heading {
  background-color: rgb(204, 203, 203);
  color: black;
  border: none;
	border-radius: 1.5rem;
	padding: 1rem;
	margin: 1rem;
	font-size: large;
}

#downloadLink {
	display: none;
}

#deleteSavedData {
	padding: 0.5rem;
	background-color: rgb(255, 70, 70);
	border: none;
	border-radius: 0.5rem;
	color: white;
	font-weight: bolder;
}

#createFileLink {
	padding: 0.5rem;
	background-color: rgb(57, 158, 46);
	border: none;
	border-radius: 0.5rem;
	color: white;
	font-weight: bolder;
}