.App {
	background-color: #9700ff;
	text-align: center;
}

.App-header {
	background-color: #2b412b;
	font-size: calc(10px + 2vmin);
	color: #23d32187;
}

body {
	background-color: #354e3e;
	margin: 0;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	border: 2px solid black;
	font-size: calc(5px + 2vmin);
	background-color: #77b58399;
	padding: 10px;
	font-style: italic;
}

table, tr {
  width: 100%;
}

input {
  background-color: #a8b5a9;
  font-size: large;
}

.nr {
  width: 4em;
  text-align: center;
}

#headings {
  display: grid;
  grid-auto-flow: column;
	padding: 1rem;
	margin: 1rem;
  background-color: rgb(204, 203, 203);
  color: black;
	text-align: center;
	grid-auto-columns: 12%;
  border: 1px black solid;
}

.heading {
  background-color: rgb(204, 203, 203);
  color: black;
  border: 1px black solid;
	padding: 1rem;
	margin: 1rem;
	font-size: x-large;
}

#downloadLink {
	display: none;
}